header {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    button.click {
        background: #274abb;
        display: inline-block;
        color: #fff;
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 3px;
        font-size: 17px;
        &:hover {
            background: #546eca !important;
            color: #fff;
        }
    }
}